<section class="row">
  <section class="col-md-3 ms-4 mt-3 mb-3 text-center">

    <h5 class="text-center mt-2">Search by Brand Name</h5>
    <section class="dropdown">
    <button class="btn btn-dark localBtn mt-2 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    See Options
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">Buffalo Trace</a></li>
    <li><a class="dropdown-item" href="#">Campari</a></li>
    <li><a class="dropdown-item" href="#">Hendricks</a></li>
    <li><a class="dropdown-item" href="#">Antica Sweet Vermouth</a></li>
    </ul>
   </section>

    <h5 class="text-center mt-2">Search by Category Type</h5>
    <section class="dropdown">
    <button class="btn btn-dark localBtn mt-2 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    See Options
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">Whiskey</a></li>
    <li><a class="dropdown-item" href="#">Aperitif</a></li>
    <li><a class="dropdown-item" href="#">Gin</a></li>
    <li><a class="dropdown-item" href="#">Vermouth</a></li>
    </ul>
   </section>
 
    <h5 class="text-center mt-2">Search by Ingredient</h5>
    <section class="dropdown">
    <button class="btn btn-dark localBtn mt-2 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    See Options
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="#">Simple Syrup</a></li>
    <li><a class="dropdown-item" href="#">Angustora Bitters</a></li>
    <li><a class="dropdown-item" href="#">Orange Peel</a></li>
    </ul>
   </section>

  </section>

  <section class="col-md-8 m-3">
    <h3 class="text-center mt-2">Choose your Cocktail</h3>

   <section class="row row-cols-1 row-cols-lg-2 g-4 m-4">

    {{#each cocktails as |cocktail|}}
   <section class="col">
    <section class="card mt-3 mb-3">
      <section class="text-center">
        <img src="/images/wiki-pour-logo.png" alt="logo" class="rounded-circle img-fluid w-25 mt-2 mb-2"> 
        <h4>{{cocktail.cocktail_name}}</h4>
        <h5 class="text-muted">Created by: {{cocktail.user.user_name}}</h5>
      </section>
      <section class="card-body text-center">
        <h5>User Ratings</h5>
        {{#each cocktail_ratings as |ratings|}}
        <p>{{rating}} Stars</p>
        {{/each}}
      
        <a href="/cocktail/{{cocktail.id}}" class="btn btn-dark localBtn">Get the Recipe</a>
      </section>
    </section>
    </section>
    {{/each}}
    </section>
  </section>

</section>
<script src="/js/homepage.js"></script>