<section class="row justify-content-center text-center">
<section class="col-sm-8 justify-content-center text-center mb-4">

{{#each cocktails as |cocktail|}}
  <section class="card m-2 localCard">

    <section class="card-header text-center">
     <h4>{{cocktail.cocktail_name}}</h4>
     <h5>Created by: {{cocktail.user.user_name}}</h5>
    </section>
    <section class="card-body mb-2">
        <p>{{cocktail.instructions}}</p>
    </section>

    <a href="/edit/{{cocktail.id}}" class="text-muted">Edit or Delete Recipe -></a>
  </section>
{{/each}}

<section class="row justify-content-center text-center mt-4">
<button id= "newRecipe" class="btn btn-dark localBtn btn-lg mb-3">Create New Recipe</button>
</section>

</section>
</section>
<script src="/js/profile.js"></script>
