<section class="row justify-content-center text-center">
    <section class="col-md-10 justify-content-center text-center align-items-center">

        <section class="row row-cols-1 row-cols-lg-2 g-4 m-4">

            <section class="col">
            
                <section class="card mt-3 mb-3">
                  <section class="card-header text-center">
                   <h4>Gin</h4>
                   </section>
                    <section class="card-body text-center">
                        <p><strong>What?: </strong>Gin is a neutral grain spirit, typically triple distilled and cut with distilled water. On the final distilation botanicals are introduced, most famously juniper. But there are other staples as well such as coriander, orange peel, lemon peel, anise, cassia caraway and many others.</p>
                    </section>
                </section>

            </section>

            <section class="col">
            
                <section class="card mt-3 mb-3">
                  <section class="card-header text-center">
                   <h4>Vodka</h4>
                   </section>
                    <section class="card-body text-center">
                        <p>Made with grapes</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                  <section class="card-header text-center">
                   <h4>Rum</h4>
                   </section>
                    <section class="card-body text-center">
                        <p>Made with grapes</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                  <section class="card-header text-center">
                   <h4>Cachaca</h4>
                   </section>
                    <section class="card-body text-center">
                        <p>Made with grapes</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                  <section class="card-header text-center">
                   <h4>Mezcal</h4>
                   </section>
                    <section class="card-body text-center">
                        <p>Made with grapes</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                  <section class="card-header text-center">
                   <h4>Tequila</h4>
                   </section>
                    <section class="card-body text-center">
                        <p>Made with grapes</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                  <section class="card-header text-center">
                   <h4>Whiskey</h4>
                   </section>
                    <section class="card-body text-center">
                        <p>Made with grapes</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                  <section class="card-header text-center">
                   <h4>Brandy</h4>
                   </section>
                    <section class="card-body text-center">
                        <p>Made with grapes</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                  <section class="card-header text-center">
                   <h4>Liqueurs and Aperitifs</h4>
                   </section>
                    <section class="card-body text-center">
                        <p>Made with grapes</p>
                    </section>
                </section>

            </section>

        </section>

    </section>
</section>