<section class="row justify-content-center text-center">
    <section class="col-md-10 justify-content-center text-center align-items-center">

        <section class="row row-cols-1 row-cols-lg-2 g-4 m-4">

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-gin">
                        <h4 class="text-white">Gin</h4>
                    </section>
                    <section class="card-body text-center">
                        <p><strong>What: </strong>Gin is a neutral grain spirit, typically triple distilled and cut with
                            distilled water. On the final distillation botanicals are introduced, most famously juniper.
                            But there are other staples as well such as coriander, orange peel, lemon peel, anise,
                            cassia caraway and many others.</p>
                        <p><strong>Where: </strong>There are three approximate types of gin that tend to come from
                            certain places. <strong>London Dry Gin, Genever/Hollands, and Plymouth Gin</strong></p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-vodka">
                        <h4 class="text-white">Vodka</h4>
                    </section>
                    <section class="card-body text-center">
                        <p><strong>What: </strong>Vodka is a distillate that has been distilled to such a high proof,
                            that very few oil, aromas or flavors remain. Generally Vodka is distilled to higher than 95
                            percent alcohol by volume and then filtered.</p>
                        <p><strong>Where: </strong>Russia and Poland are the most renowned and historically important
                            early producers of Vodka in large volumes. The filtration techniques created by these
                            countries has a great influence on the worlds other Vodka producers.</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-rum">
                        <h4 class="text-white">Rum</h4>
                    </section>
                    <section class="card-body text-center">
                        <p><strong>What: </strong>Rum is any distilled spirit created from sugarcane. The majority of
                            rums are produced from molasses, the by-product of refining sugarcane into raw sugar.
                            Molasses is used to make light soft rums to dark, pungent rums and anything in between</p>
                        <p><strong>Where: </strong>Rum can be made anywhere sugarcane can be grown or exported to. Over
                            two hundred years ago, most of the rum produced was made in England, as they imported most
                            of the molasses produced in the Caribbean.</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-cachaca">
                        <h4 class="text-white">Cachaca</h4>
                    </section>
                    <section class="card-body text-center">
                        <p><strong>What: </strong>Cachaca, like Rum, is distilled from sugarcane. The difference is what
                            part. Cachaca is produced from the juice of the sugarcane after it's pressed.</p>
                        <p><strong>Where: </strong>Cachaca can only be produced in Brazil. Incredible, 98 percent of all
                            cachaca is consumed in Brazil. Cachaca comes in three classifications: unaged (1 year in
                            wood), aged (2 to 12 years in wood), and yellow(unaged spirits that have caramel or wood
                            extracts added to appear older)</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-tequila">
                        <h4 class="text-white">Tequila</h4>
                    </section>
                    <section class="card-body text-center">
                        <p><strong>What: </strong>Tequila is a distilled spirit made from the agave plant. First the
                            Agave Hearts are either baked in ovens or steamed in autoclaves (baked is better), and
                            shredded, then the juice of the hearts is pressed out fermented and distilled. Most of the
                            best Tequila is distilled in pot stills or small hybrid stills.</p>
                        <p><strong>Where: </strong>Tequila is a term tightly defined and controlled by the Mexican
                            government. Most major countries honor and protect these regulations and definitions, expect
                            for the United States. Tequila is produced in the five Mexican states, Jalisco, Nayarit,
                            Gunajato, Michoacan and Tamaulipas.</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-mezcal">
                        <h4 class="text-white">Mezcal</h4>
                    </section>
                    <section class="card-body text-center">
                        <p><strong>What: </strong>Mezcal, like Tequila, is distilled from the Agave heart juice. The
                            difference is how. To make Mezcal, the Agave Hearts are cooked in a pit underground with hot
                            rocks and Agave Fronds for days or even weeks. And the resulting juice is distilled in
                            ancient clay pot stills. Resulting in a smoky and earthy spirit.</p>
                        <p><strong>Where: </strong>Mezcal, like Tequila, is a term tightly defined and controlled by
                            the Mexican government. Mezcal is primarily made in Oaxaca, Mexico, But seven other states
                            also earned a Denomination of Origin: Guerrero, Durango, San Luis Potosí, Zacatecas,
                            Guanajuato, Tamaulipas and Michoacán.</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-whiskey">
                        <h4 class="text-white">Whiskey</h4>
                    </section>
                    <section class="card-body text-center">
                        <p><strong>What: </strong>Whiskey is a grain spirit that is distilled in a continuous and/or pot
                            stills and is aged in barrels from some period of time. It can be made from any number of
                            grain and distilled in a number of different ways.</p>
                        <p><strong>Where: </strong><strong>Scotch:</strong>Made in Scotland from inexpensive grains or
                            from malted barley.<strong>Irish: </strong>Only four distilleries remain running in
                            Ireland, Jameson, Old Bushmills, Kilbeggan and Colley Distillery.<strong>Bourbon and
                                Tennessee: </strong>These Whiskeys require the producer use only brand-new charred oak
                            barrels for aging. Both use corn as the primary grain in the mash bill.<strong>Rye:
                            </strong>Made from Rye.<strong>Canadian: </strong>Made in Canada, generally a blend form a
                            base Whiskey (most often 100% corn) and flavoring Whiskey.</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-brandy">
                        <h4 class="text-white">Brandy</h4>
                    </section>
                    <section class="card-body text-center">
                        <p><strong>What: </strong>Brandy is generally an aged grape spirit made from distilled wine that
                            has been aged in oak for a specific amount of time, Usually six months or longer. There are
                            some exemptions, such as Calvados, which is made from Apples and Pears.</p>
                        <p><strong>Where: </strong>Brandy can be made anywhere you can find wine and distill it.
                            Although
                            there are some kinds of Brandy that have to be made in a specific region with a specific
                            juice. Some of these Brandy's include <strong>Cognac: </strong>Cognac has to be made form
                            Ugni Blanc grapes and aged in Limousin Oak barrels for at least two years. These Grapes
                            must also be grown in Cognac France.<strong>Pisco: </strong>Pisco is made from gapes in
                            either Chile or Peru. Each country ahs its own set of grapes from which they ferment wine
                            and distill Pisco.</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-liqueur">
                        <h4 class="text-white">Liqueurs</h4>
                    </section>
                    <section class="card-body text-center">
                        <p><strong>What: </strong>Liqueurs are alcoholic beverages made from grain, grape, fruit or
                            vegetable and flavored with botanicals, fruits, dairy, honey spices, and/or beans.</p>
                        <p><strong>Where: </strong>Liqueurs are made around the world and have existed for at least six
                            centuries. The first liqueurs where made in Europe to help with intestinal problems.</p>
                    </section>
                </section>

            </section>

        </section>

    </section>
</section>