<section class="row justify-content-center text-center">
    <section class="col-md-10 justify-content-center text-center align-items-center">

        <section class="row row-cols-1 row-cols-lg-2 g-4 m-4">

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-gin">
                        <h4 class="text-white">Gin</h4>
                    </section>
                    <section class="card-body text-center">
                        <p><strong>What: </strong>Gin is a neutral grain spirit, typically triple distilled and cut with
                            distilled water. On the final distilation botanicals are introduced, most famously juniper.
                            But there are other staples as well such as coriander, orange peel, lemon peel, anise,
                            cassia caraway and many others.</p>
                        <p><strong>Where: </strong>There are three approximate types of gin that tend to come from
                            certain places. <strong>London Dry Gin, Genever/Hollands, and Plymouth Gin</strong></p>
                        {{!-- <p><strong>London Dry Gin: </strong>The most well known type of Gin. It can be made anywhere, but is still strongly associated with Great Britain.</p>
                        <p><strong>Genever/Hollands: </strong>Produced in the Netherlands, Belgium and samll parts fo Germany and France. Can be more powerful and oily, as well as distinctly sweet.</p>
                        <p><strong>Plymouth: </strong>Plymouth Gin comes from a single gin distiller in Plymouth England called Blackrfairs. It has an earthy richnessa and lower alcohol content than London Dry.</p> --}}
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-vodka">
                        <h4 class="text-white">Vodka</h4>
                    </section>
                    <section class="card-body text-center">
                        <p><strong>What: </strong>Vodka is a distillate that has been distilled to such a high proof,
                            that very few oil, aromas or flavors remain. Generaly Vodka is distilled to higher than 95
                            percent alcohol by volume and then filtered.</p>
                        <p><strong>Where: </strong>Russia and Poland are the most renowned and historically imporant
                            early producers of Vodka in large volumes. The filtration techniqes created by these
                            contries has a great influence on the worlds other Vodka producers.</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-rum">
                        <h4 class="text-white">Rum</h4>
                    </section>
                    <section class="card-body text-center">
                        <p><strong>What: </strong>Rum is any distilled spirit created from sugarcane. The majority of rums are produced from molasses, the by-product of refining sugarcane into raw sugar. Molassas is used to make light soft rums to dark, pungent rums and anything in between</p>
                        <p><strong>Where: </strong>Rum can be made anywhere sugarcane can be grown or exported to. Over two hundred years ago, most of the rum produced was made in England, as they imported most of the molasses produced in the Caribean.</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-cachaca">
                        <h4 class="text-white">Cachaca</h4>
                    </section>
                    <section class="card-body text-center">
                        <p><strong>What: </strong>Cachaca, like Rum, is distilled from sugarcae. The difference is what part. Cachaca is produced from the juice of the sugarcane after it's pressed.</p>
                        <p><strong>Where: </strong>Cachaca can only be produced in Brazil. Incredible, 98 percent of all cachaca is consumed in Brazil. Cachaca comes in three classifications: unaged (1 year in wood), aged (2 to 12 years in wood), and yellow(unaged spirits that have caramel or wood extracts added to appear older)</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-mezcal">
                        <h4 class="text-white">Mezcal</h4>
                    </section>
                    <section class="card-body text-center">
                        <p>Made with grapes</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-tequila">
                        <h4 class="text-white">Tequila</h4>
                    </section>
                    <section class="card-body text-center">
                        <p>Made with grapes</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-whiskey">
                        <h4 class="text-white">Whiskey</h4>
                    </section>
                    <section class="card-body text-center">
                        <p>Made with grapes</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center header-background-brandy">
                        <h4 class="text-white">Brandy</h4>
                    </section>
                    <section class="card-body text-center">
                        <p>Made with grapes</p>
                    </section>
                </section>

            </section>

            <section class="col">

                <section class="card mt-3 mb-3">
                    <section class="card-header text-center">
                        <h4>Liqueurs and Aperitifs</h4>
                    </section>
                    <section class="card-body text-center">
                        <p>Made with grapes</p>
                    </section>
                </section>

            </section>

        </section>

    </section>
</section>