.localBtn {
    border-radius: 12px;
}

.localBtn:hover {
    background-color: rgb(206, 184, 21);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: black;
    border-color: white;
}

.header-background-gin {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../images/juniper.png);
    padding-top: 25px;
    padding-bottom: 20px;
    background-size: 100%;
}

.header-background-vodka {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../images/vodka.png);
    padding-top: 25px;
    padding-bottom: 20px;
    background-size: 100%;
}

.header-background-rum {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../images/rum.png);
    padding-top: 25px;
    padding-bottom: 20px;
    background-size: 100%;
}

.header-background-cachaca {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../images/cachaca.png);
    padding-top: 25px;
    padding-bottom: 20px;
    background-size: 100%;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 6vw;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}